body {
    background-color: black;
    text-align: center;"
}
[href] {
    color: palevioletred;
    font-size: xx-large;
}
p {
    color: whitesmoke;
}
table {
    color: whitesmoke;
    margin: auto;
    border-collapse: collapse;
}
th,td{
    text-align: left;
    padding: 1rem;
    border: 1px solid whitesmoke;
}
tr,td {
    border: 1px solid whitesmoke
}